// Container paths for BioPipelines

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/scratch/sdodl001/BioPipelines/cache'
}

params {
    container_base = '/home/sdodl001_odu_edu/BioPipelines/containers/images'
    
    containers {
        rnaseq = "${params.container_base}/rna-seq_1.0.0.sif"
        dnaseq = "${params.container_base}/dna-seq_1.0.0.sif"
        scrnaseq = "${params.container_base}/scrna-seq_1.0.0.sif"
        atacseq = "${params.container_base}/atac-seq_1.0.0.sif"
        chipseq = "${params.container_base}/chip-seq_1.0.0.sif"
        longread = "${params.container_base}/long-read_1.0.0.sif"
        hic = "${params.container_base}/hic_1.0.0.sif"
        methylation = "${params.container_base}/methylation_1.0.0.sif"
        metagenomics = "${params.container_base}/metagenomics_1.0.0.sif"
        structural = "${params.container_base}/structural-variants_1.0.0.sif"
    }
}
